In [5]:
x = {'a':1,'b':2}
y = {'b':1,'c':4}

In [8]:
z={**y,**x}

In [9]:
z

{'a': 1, 'b': 2, 'c': 4}

In [10]:
w = {**x,**y}

In [11]:
w

{'a': 1, 'b': 1, 'c': 4}

In [39]:
x, y, z = 0, 8, 0

In [40]:
##If any of the conditions holds true, it will print passed.
if x == 0 or y == 0  or z == 0:
    print('passed')

# if value of any one of x,y, or z is 1, it will print passed.
if 1 in (x, y, z):
    print('passed')

# These only test for truthiness:
if x or y or z:
    print('passed')

#If any of x,y or z value is non zero, it will print passed.
if any((x, y, z)):
    print('passed')

passed

In [8]:
xs = {'a': 4, 'e': 3, 'c': 2, 'd': 1}

In [10]:
sorted(xs.items(), key=lambda x: x[1])

[('d', 1), ('c', 2), ('e', 3), ('a', 4)]

In [11]:
import operator
sorted(xs.items(), key=operator.itemgetter(1))

[('d', 1), ('c', 2), ('e', 3), ('a', 4)]

In [12]:
name_for_userid = {
    382: "Alice",
    590: "Bob",
    951: "Dilbert",
}

def greeting(userid)
    return "Hi %s!" % name_for_userid.get(userid, "there")

In [13]:
greeting(382)

'Hi Alice!'

In [14]:
greeting(123213)

'Hi there!'

In [1]:
#Using namedtuple is way shorter than defining a class manually:
from collections import namedtuple
Car = namedtuple('Car', 'color mileage')
my_car = Car('red', 3812.4)

In [2]:
my_car.color

'red'

In [3]:
my_car.mileage

3812.4

In [4]:
# We can get string repr for this:
my_car

Car(color='red', mileage=3812.4)

In [5]:
# Like tuples, namedtuples are immutable:
my_car.color = 'blue'

AttributeError: can't set attribute